* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/* "<- BACK" */
.backText {
    font-size: 120%;
    color: #000000;
    text-decoration: none;
    padding: 1%;
}

.forgotContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: white;
}

.forgotContainer a{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-top: 0.5%;
    padding-bottom: 1%;
}

.forgotContainer img {
    width: 300px;
    height: auto;
    margin-bottom: 1%;
    object-fit: contain; /* Adjust the object-fit property based on your logo's aspect ratio */
    aspect-ratio: 4 / 1;
}

.forgotCover {
    background-color: white;
    width: 30em;
    height: 30em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.forgot-top-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    padding: 1%;
    width: 100%;
}

.forgot-top-nav a:first-child{
    width: 5.2%;
}

.forgot-top-nav a:nth-child(2){
    display: flex;
    flex-direction: row-reverse;
    width: 8%;
}

.forgot-password-initial{
    position: relative;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    width: 100%;
    height: 65%;
    flex-direction: column;
    align-items: center;
}

.forgot-password-hide{
    display: none;
}

.forgot-password-final{
    position: relative;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    width: 100%;
    height: 65%;
    flex-direction: column;
    align-items: center;
}

/* CSS for the name and email text */
.forgot-email-text {
    position: relative;
    font-weight: normal;
    font-size: 20px;
    top: -15%;
}

.forgot-status {
    position: relative;
    color: red;
    /* background-color:rgb(240, 199, 214); */
    border-radius: 2em;
    font-size: 120%;
    text-decoration: none;
    white-space: nowrap;
    padding: 2%;
    bottom: 18.5%;
    transition: all 0.3s ease-in;
}

/* CSS for the input for password and text */
.forgotCover input[type="forgot-email"]{
    font-size: 100%;
    width: 68%;
    height: 16%;
    border-radius: 12px;
    border-color: rgb(60, 146, 245);
    position: relative;
    background-color: rgb(218, 216, 216);
    padding: 3%;
    top: -12%;
}

.verification-button {
    font-size: 1.4em;
    border-style: hidden;
    color: rgb(255, 255, 255);
    width: 24%;
    height: 13%;
    background-color: rgb(60, 146, 245);
    border-radius: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    left: 22%;
    top: -8%;
}

/* grows in size when hovering over login-button */
.verification-button:hover {transform: scale(1.05);}

.reset-password-text {
    position: relative;
    font-weight: normal;
    text-align: center;
    font-size: 20px;
    padding-left: 2%;
    padding-right: 2%;
    width: 68%;
    top: -5%;
}

.resend-forgot-password-link{
    position: relative;
    font-weight: normal;
    font-size: 20px;
    top: 2%;
}

.resend-forgot-password-button{
    font-size: 1.4em;
    border-style: hidden;
    color: rgb(255, 255, 255);
    width: 40%;
    height: 13%;
    background-color: rgb(60, 146, 245);
    border-radius: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    top: 4%;
}

@media screen and (max-width: 480px) {
    /* will add mobile css later */
}
