.settings {
    display: flex;
    flex-direction: column;
    height: 50%;
}

/* Dashboard Header section */
.settings-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Dashboard Title */
.settings-title {
    padding: 0.5%;
    font-size: 200%;
    font-weight: bold;
}

/* Settings Divider */
.settings-divider {
    width: 100%;
    border: 1.5px solid black;
}

.settings-container {
    display: grid;
    grid-template-columns: 200px 1fr; /* Sidebar and content */
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}

/* Main container for the settings sidebar */
.settings-sidebar {
    padding-left: 1%;
    display: flex;
    position: sticky;
    height: auto; /* Full height of the viewport */
    width: 200px; /* Fixed width for the sidebar */
    background-color: #f4f4f4; /* Light gray background color */
    flex-direction: column;
    padding: 20px; /* Space around the content */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Content inside the settings sidebar */
.settings-links {
    flex: 1; /* Take up available space */
    overflow-y: auto; /* Scrollable if content overflows */
    padding: 0.5%;
}

.settings-links p {
    font-size: 115%;
    padding: 1%;
}

.settings-links p:hover {
    cursor: pointer;
}

/* Vertical divider between content sections */
.settings-vertical-divider {
    width: 2px; /* Thin vertical line */
    background-color: #ccc; /* Light gray color */
    align-self: stretch; /* Extend to full height of the container */
    margin: 0 10px; /* Space around the divider */
    border: none; /* Remove default HR border styling */
}

.unactive {
    display: hide;
}

.active {

}