.user-information-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 0.5%;
}

.user-information-container p {
    padding: 0.5%;
}

.user-information-container input {
    width: 32%;
    height: 30%;
    border-radius: 12px;
    border-color: rgb(60, 146, 245);
    position: relative;
    background-color: rgb(218, 216, 216);
    padding: 0.5%;
}

.user-information-title {
    font-size: 150%;
    padding: 2%;
}

.user-information-button {
    font-size: 140%;
    border-style: hidden;
    color: rgb(255, 255, 255);
    width: 7%;
    height: 15%;
    background-color: rgb(60, 146, 245);
    border-radius: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    left: 25%;
    top: 1%;
}